In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import re
import scipy.stats as st
import matplotlib.pyplot as plt

In [2]:
raw_data = pd.read_csv('all-weeks-countries.csv')
raw_data.head()

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10
0,Argentina,AR,2022-01-09,Films,1,Don't Look Up,NaN,3
1,Argentina,AR,2022-01-09,Films,2,Mother/Android,NaN,1
2,Argentina,AR,2022-01-09,Films,3,The Lost Daughter,NaN,2
3,Argentina,AR,2022-01-09,Films,4,Backtrace,NaN,1
4,Argentina,AR,2022-01-09,Films,5,Four to Dinner,NaN,1

In [3]:
raw_data['season_title'].unique()

array([nan, 'Café con aroma de mujer: Season 1', 'Cobra Kai: Season 4',
       'The Queen of Flow: Season 2', 'Stay Close: Limited Series',
       'The Queen of Flow: Season 1', 'Emily in Paris: Season 2',
       'Pasión de Gavilanes: Season 1', 'The Witcher: Season 2',
       'Rebelde: Season 1', 'Rebelde Way: Temporada 1',
       'Daughter From Another Mother: Season 2',
       'The Girl from Oslo: Season 1', 'Money Heist: Part 5',
       'The Witcher: Season 1', 'Yo soy Betty, la fea: Season 1',
       'Titans: Season 3', 'Pablo Escobar, el patrón del mal: Season 1',
       'Lost in Space: Season 3',
       'Jurassic World Camp Cretaceous: Season 4', 'Maid: Limited Series',
       'Elves: Season 1', 'Hellbound: Season 1',
       'True Story: Limited Series', 'Arcane: Season 1',
       'Squid Game: Season 1', 'You: Season 3',
       'Narcos: Mexico: Season 3', 'Luis Miguel - The Series: Season 3',
       'Where is Marta?: Limited Series', 'The Five Juanas: Season 1',
       'Maya and the Three: Limited Series', 'Locke & Key: Season 2',
       'My Name: Season 1', 'You: Season 1', "Grey's Anatomy: Season 17",
       'The Chestnut Man: Season 1', 'You: Season 2',
       'Sex Education: Season 3', 'PAW Patrol: Season 6',
       'Midnight Mass: Limited Series', 'Ganglands: Season 1',
       'Alice in Borderland: Season 1', 'Sex Education: Season 1',
       'Lucifer: Season 6', 'The Snitch Cartel: Origins: Season 1',
       'Clickbait: Limited Series', 'Sex Education: Season 2',
       'The Kingdom: Season 1', 'The 100: Season 7',
       'Good Girls: Season 4', 'Money Heist: Part 1',
       'Newly Rich, Newly Poor: Season 1', 'Valeria: Season 2',
       'Okupas: Season 1', 'AlRawabi School for Girls: Limited Series',
       'Gone for Good: Limited Series', 'Hit & Run: Season 1',
       'The Cook of Castamar: Season 1', 'Control Z: Season 2',
       'For Life: Season 1', 'Outer Banks: Season 2',
       'Sky Rojo: Season 2', 'Blindspot: Season 5',
       'Virgin River: Season 3', 'Never Have I Ever: Season 2',
       'Sex/Life: Season 1', 'Atypical: Season 4', 'Elite: Season 4',
       'Virgin River: Season 1', 'Pokémon Journeys: The Series: Season 1',
       'Falsa identidad: Season 2',
       "The Seven Deadly Sins: Dragon's Judgement",
       'Señora Acero: Season 2', 'Señora Acero: Season 3',
       'Manifest: Season 1', 'Manifest: Season 2', 'Queer Eye: Season 6',
       'S.W.A.T.: Season 4', 'Vikings: Season 6',
       'Young Sheldon: Season 4', 'The Silent Sea: Season 1',
       'Emily in Paris: Season 1',
       'WWII in Color: Road to Victory: Season 1',
       'Crime Scene: The Times Square Killer: Limited Series',
       'Selling Tampa: Season 1', 'Love on the Spectrum: Season 2',
       'Selling Sunset: Season 4', 'Titans: Season 1',
       'Lost in Space: Season 1', 'Lost in Space: Season 2',
       'Below Deck: Season 4', 'Cowboy Bebop: Season 1',
       'School of Chocolate: Season 1', 'Tiger King 2',
       'CoComelon: Season 4', 'Dynasty: Season 4', 'Big Mouth: Season 5',
       'Mom: Season 1', 'Catching Killers: Season 1', 'Mom: Season 2',
       'L.A.’s Finest: Season 2', 'Inside Job: Part 1',
       'Young Sheldon: : Season 1', 'Young Sheldon: : Season 2',
       'The Baby-Sitters Club: Season 2', 'Young Sheldon: : Season 3',
       'On My Block: Season 4', 'Animal Kingdom: : Season 5',
       'Blindspot: Season 1', 'Blindspot: Season 2',
       'Turning Point: 9/11 and the War on Terror: Season 1',
       'Chicago Med: Season 1', 'Rick and Morty: Season 5',
       'Good Girls: Season 1', 'Chicago Fire: Season 1',
       'The Chair: Season 1', 'Outer Banks: Season 1',
       'The Mindy Project: Season 1',
       'The Real Housewives of Beverly Hills: Season 5',
       'Bake Squad: Season 1', 'CoComelon: Season 3',
       'Grace and Frankie: Season 7',
       'Brand New Cherry Flavor: Limited Series',
       'Cocaine Cowboys: The Kings of Miami: Limited Series',
       'Car Masters: Rust to Riches: Season 3',
       'Top Secret UFO Projects: Declassified: Season 1',
       'Last Madame: Season 1', 'Glow Up: Season 3',
       'Love Is Blind: Season 1', 'My Unorthodox Life: Season 1',
       'Heist: Season 1', 'Van Helsing: Season 5',
       'L.A.’s Finest: Season 1', 'Virgin River: Season 2',
       'Too Hot to Handle: Season 2', 'Big Timber: Season 1',
       'Queen of the South: Season 4',
       'Sophie: A Murder in West Cork: Limited Series',
       'Sweet Tooth: Season 1', 'Heartland: Season 14',
       'Lucifer: Season 5', 'Kitz: Season 1', 'Betty en NY: Season 1',
       'Cobra Kai: Season 1', 'Superstore: Season 6',
       'S.W.A.T.: Season 3',
       'Demon Slayer: Kimetsu no Yaiba: Tanjiro Kamado, Unwavering Resolve Arc',
       'S.W.A.T.: Season 1', 'Christmas Flow: Season 1',
       'Sløborn: Season 1', 'Dynasty: Season 1', 'Locke & Key: Season 1',
       'The Billion Dollar Code: Limited Series',
       'How to Get Away With Murder: Season 6',
       'Modern Family: Season 11', 'Superstore: Season 2',
       'Superstore: Season 1', 'Dive Club: Season 1',
       'Chicago Med: Season 2', 'The Good Doctor: Season 2',
       'The Good Doctor: Season 1', 'The Blacklist: Season 8',
       'Downton Abbey: Series 2', 'Riverdale: Season 5',
       'The Blacklist: Season 1', 'Downton Abbey: Series 1',
       'How to Sell Drugs Online (Fast): Season 3',
       'SHAMAN KING: Season 1', 'New Amsterdam: Season 1',
       'Boruto: Naruto Next Generations: Season 1',
       'Never Have I Ever: Season 1', 'Biohackers: Season 2',
       'Lupin: Part 2', 'S.W.A.T.: Season 2', 'Elite: Season 1',
       'Elite: Season 2', 'SpongeBob SquarePants: Season 9',
       'Power Rangers Dino Fury: Season 1',
       'SpongeBob SquarePants: Season 8', 'Titans: Season 2',
       'How to Ruin Christmas: The Funeral', 'One-Punch Man: Season 1',
       'Colin in Black & White: Limited Series', 'Dynasty: Season 2',
       'Blood & Water: Season 2', 'Baki Hanma: Season 1',
       'Blood & Water: Season 1', 'The Smart Money Woman: Season 1',
       'The Circle: Season 3', 'Money Heist: Part 2',
       'Family Reunion: Part 4',
       'King of Boys: The Return of the King: Limited Series',
       'PAW Patrol: Season 4', 'Family Reunion: Part 1',
       'CoComelon: Season 1', 'CoComelon: Season 2',
       'Black Lightning: Season 4', 'Black Lightning: Season 1',
       "Newton's Cradle: Season 1", 'Single’s Inferno: Season 1',
       'Decoupled: Season 1', 'Aranyak: Season 1',
       "The King's Affection: Season 1", 'Till Death: Season 1',
       'Narcos: Mexico: Season 1', 'Hometown Cha-Cha-Cha: Season 1',
       'House of Secrets: The Burari Deaths: Limited Series',
       'The Good Doctor: Season 3', 'Seinfeld: Season 3',
       'Love 101: Season 2', 'Into the Night: Season 2',
       'Mr. Robot: Season 1', 'Money Heist: Part 4',
       'Resurrection: Ertugrul: Season 2',
       'Resurrection: Ertugrul: Season 3',
       'Resurrection: Ertugrul: Season 5', 'Navarasa: Volume 1',
       'Resurrection: Ertugrul: Season 4',
       'Too Hot to Handle: Brazil: Season 1',
       'How to Become a Tyrant: Season 1',
       'Resurrection: Ertugrul: Season 1', 'Our Beloved Summer: Season 1',
       'Money Heist: Part 3', 'The Good Doctor: Season 4',
       'Reply 1988: Season 1', 'Call My Agent Bollywood: Season 1',
       'Little Things: Season 4', 'Kota Factory: Season 2',
       'Kota Factory: Season 1', 'Nevertheless,: Season 1',
       'Vincenzo: Season 1', 'Hospital Playlist: Season 2',
       'Friends: Season 1', 'Feels Like Ishq: Season 1', 'Ray: Season 1',
       'Friends: Season 6', 'Friends: Season 5',
       'Crash Landing on You: Season 1', 'Friends: Season 3',
       'Cobra Kai: Season 2', 'Downton Abbey: Series 3',
       'Family Business: Season 3', 'Undercover: Season 2',
       'Brooklyn Nine-Nine: Season 7', "Gabby's Dollhouse: Season 2",
       'Suits: Season 9', 'One-Punch Man: Season 2', 'Mine: Season 1',
       'Señora Acero: Season 4', 'La Reina del Sur: Season 2',
       'Control Z: Season 1', 'Señora Acero: Season 1',
       'The War Next-door: Season 1', 'La Reina del Sur: Season 1',
       'Carinha de Anjo: Season 1', 'Cúmplices de um Resgate: Season 1',
       'As Aventuras de Poliana: Season 1',
       'The Family That Sings Together: The Camargos: Season 1',
       'Sintonia: Season 2', 'Love Is Blind: Brazil: Season 1',
       'Sharkdog: Season 1', 'Open Your Eyes: Season 1',
       'John of God: The Crimes of a Spiritual Healer: Season 1',
       'Elize Matsunaga: Once Upon a Crime: Season 1',
       'The Office (U.S.): Season 5',
       "JoJo's Bizarre Adventure: STONE OCEAN",
       'The Office (U.S.): Season 3', 'The Office (U.S.): Season 6',
       'The Office (U.S.): Season 2', 'The Bold Type: Season 4',
       'The Fall: Season 2', 'Too Hot to Handle: Season 1',
       'Family Guy: Season 18', 'Lucifer: Season 3',
       'Young Royals: Season 1', 'Hype House: Season 1',
       'Twentysomethings: Austin: Season 1', "Workin' Moms: Season 5",
       'Vikings: Season 4', "Zumbo's Just Desserts: Season 2",
       'Everybody Loves Raymond: Season 1', 'This Is Us: Season 5',
       'PAW Patrol: Season 8', 'Prodigal Son: Season 1',
       'Seinfeld: Season 2', 'Brooklyn Nine-Nine: Season 8',
       'Monsters Inside: The 24 Faces of Billy Milligan: Limited Series',
       'Manifest: Season 3', 'The Defeated: Season 1',
       'Blindspot: Season 3', 'The Walking Dead: Season 10',
       'Hunter X Hunter (2011): Season 5', 'A.P. Bio: Season 1',
       'A Sinister Sect: Colonia Dignidad: Season 1',
       'Escalona: Season 1', 'Deadly Sins: Season 1',
       'Sin senos sí hay paraíso: Season 1',
       'El final del paraíso: Season 1',
       'Las muñecas de la mafia: Season 1',
       'Sin senos sí hay paraíso: Season 2', 'Chica Vampiro: Season 1',
       'Seinfeld: Season 4', 'A Tale Dark & Grimm: Season 1',
       'Seinfeld: Season 1', 'The Fall: Season 3', 'The Fall: Season 1',
       'On the Verge: Season 1', 'Katla: Season 1', 'Go Dog Go: Season 2',
       'Another Life: Season 2', 'Scaredy Cats: Season 1',
       'H2O: Just Add Water: Season 3', 'The Sinner: Season 3: Jamie',
       'RuPaul’s Drag Race: All Stars: Season 6',
       'The Sinner: Season 1: Cora', 'The Good Place: Season 4',
       'Peppa Pig: Season 6', "RuPaul's Drag Race: Season 13",
       'All For Love: Season 1', 'Señora Acero: Season 5',
       "Marvel's Daredevil: Season 1", 'The Last Kingdom: Season 4',
       'حكايات بنات الجزء ١: Season 1', 'Al-Mizan: Season 1',
       'The Land of Hypocrisy: Season 1', 'Friends: Season 7',
       'Friends: Season 4', 'Love (ft. Marriage and Divorce): Season 2',
       'The Office (U.S.): Season 7', 'The Office (U.S.): Season 4',
       'The Office (U.S.): Season 1', 'Superstore: Season 3',
       'Superstore: Season 4', 'New Amsterdam: Season 2',
       'Tuntematon sotilas: Season 1',
       'Pokémon Journeys: The Series: Part 3',
       'The Hook Up Plan: Season 3', 'Princess Sarah: Season 1',
       'PAW Patrol: Season 5', 'The Blacklist: Season 7',
       'The Flash: Season 6', 'PAW Patrol: Season 3', 'Mortel: Season 2',
       'Boruto: Naruto Next Generations: Season 3',
       'Boruto: Naruto Next Generations: Season 2', 'Arrow: Season 8',
       'Cobra Kai: Season 3', 'The Blacklist: Season 9',
       'Jaguar: Season 1', 'Hunter X Hunter (2011): Season 1',
       'EDENS ZERO: Season 1', 'Toy Boy: Season 1',
       'Surviving R. Kelly: Season 1', 'On My Block: Season 1',
       'Good Girls: Season 3', 'Jiva!: Season 1',
       'Falsa identidad: Season 1', 'Light the Night: Part 2',
       'Light the Night: Part 1',
       'The Glamorous Imperial Concubine: Season 1',
       'Bulgasal: Immortal Souls: Season 1',
       'The Hungry and the Hairy: Season 1', 'Inspector Koo: Season 1',
       'Love You: Season 1', "I'm Taking the Day Off: Season 1",
       'Guardian: The Lonely and Great God: Season 1',
       "The Queen's Classroom: Season 1",
       'More than Blue: The Series: Season 1', 'Hotel Del Luna: Season 1',
       'Pretty Proofreader: Season 1',
       'While You Were Sleeping: Season 1',
       'That Time I Got Reincarnated as a Slime: Season 1',
       'Love is True: Season 1', 'The Way Of The Hot & Spicy: Season 1',
       'D.P.: Season 1', 'BG Personal Bodyguard: Season 2',
       'Jujutsu Kaisen: Season 1', 'The Rational Life: Season 1',
       'RESIDENT EVIL: Infinite Darkness: Season 1',
       'The Naked Director: Season 2', 'Record of Ragnarok: Season 1',
       'Hospital Playlist: Season 1', 'The A List: Season 2',
       'Lupin: Part 1', 'Brooklyn Nine-Nine: Season 3',
       'Brooklyn Nine-Nine: Season 2', 'Brooklyn Nine-Nine: Season 1',
       'Brooklyn Nine-Nine: Season 4',
       'Keeping Up with the Kardashians: Season 8',
       'Keeping Up with the Kardashians: Season 7',
       'Baking Impossible: Season 1', 'Chicago Fire: Season 2',
       'Crime Stories: India Detectives: Season 1', 'Lucifer: Season 1',
       'Comedy Premium League: Season 1', 'Lucifer: Season 2',
       'Rain or Shine: Season 1', 'New World: Season 1',
       'Reflection of You: Season 1', 'Itaewon Class: Season 1',
       'Start-Up: Season 1', 'You Are My Spring: Season 1',
       'Nur: Season 1', 'Love (ft. Marriage and Divorce): Season 1',
       'Racket Boys: Season 1', 'Law School: Season 1',
       'My Lover My Killer: Season 1',
       'The Salisbury Poisonings: Season 1', 'This Way Up: Series 1',
       'When Missing Turns to Murder: Season 1',
       'Pretty Little Liars: Season 2', 'Pretty Little Liars: Season 1',
       'Bad Sport: Volume 1', 'Modern Family: Season 9',
       'Shameless (U.S.): Season 10', 'For Life: Season 2',
       'Downton Abbey: Series 4', 'The Serpent: Limited Series',
       'Shtisel: Season 3', 'Pokémon Journeys: The Series: Part 1',
       'Framed! A Sicilian Murder Mystery: Season 1',
       'The Big Bang Theory: Season 12',
       'Tear Along the Dotted Line: Season 1',
       'An Astrological Guide for Broken Hearts: Season 1',
       'Luna Park: Season 1', 'Attack on Titan: The Final Season Part 1',
       'Generation 56k: Season 1', 'Elite: Season 3',
       'Fast & Furious Spy Racers: Season 6: Homecoming',
       'Good Girls: Season 2', 'Teen Wolf: Season 3',
       'Fast & Furious Spy Racers: Season 5: South Pacific',
       'Johnny Test: Season 1', 'Black Lightning: Season 3',
       'Demon Slayer: Kimetsu no Yaiba: Entertainment District Arc',
       'ONE PIECE: Wano Country (Ep.892 - Ep.1000)',
       'Spirit Chronicles: Season 1',
       'JAPAN SINKS: People of Hope: Season 1',
       'Mushoku Tensei: Jobless Reincarnation: Season 1',
       'One Outs: season 1', 'The Promised Neverland: Season 2',
       'My Sassy Girl: Season 1', 'dororo: Season 1',
       'My Love Story!!: Season 1',
       'How to Eliminate My Teacher: Season 1',
       'Kotaro Lives Alone: Season 1', '7 Secretaries: Season 1',
       'Her Private Life: Season 1',
       'Demon Slayer: Kimetsu no Yaiba: Mugen Train Arc',
       'Monster: Season 1',
       'Mahjong Legend Akagi: The Genius Who Descended Into the Darkness: Season 1',
       'GOLGO13: Collection 1', 'Tokyo Revengers: Season 1',
       'That Time I Got Reincarnated as a Slime: Season 2',
       'DEATH NOTE: Death Note', 'Parasyte: The Maxim: Season 1',
       'Pretty Guardian Sailor Moon Eternal The Movie: Part 1 / Part 2',
       'My Country: The New Age: Season 1', 'My Hero Academia: Season 5',
       'My Dear Exes: Season 1', 'Yakitate!! Japan: Season 1',
       'Seiji Oda: Season 1', 'She was pretty: Season 1',
       "What's Wrong with Secretary Kim: Season 1",
       'The Naked Director: Season 1', 'Friends: Season 9',
       'Friends: Season 8', 'Prison Break: Season 2',
       'Prison Break: Season 1', 'Caramel: Season 1', 'Jinn: Season 1',
       'How to Ruin Christmas: The Wedding', 'The Last Kingdom: Season 1',
       'Love Never Lies: Season 1', 'Pretty Smart: Season 1',
       'Avatar: The Last Airbender: Book 1', 'Victorious: Season 1',
       'Henry Danger: Season 1', 'Orange Is the New Black: Season 7',
       "The World's Most Amazing Vacation Rentals: Season 1",
       'Masameer County: Season 1', 'The Office (U.S.): Season 9',
       'The Office (U.S.): Season 8', 'Friends: Season 2',
       'Rick and Morty: Season 1', 'Glória: Season 1',
       'The Penthouse: War in Life: Season 1', 'Oh My Venus: Season 1',
       "Hell's Kitchen: Season 20", 'Birth of a Beauty: Season 1',
       'Kingdom: Season 1', 'A Korean Odyssey: Season 1',
       'Horimiya: Season 1', 'Below Deck Mediterranean: Season 3',
       'Daughter From Another Mother: Season 1',
       'Reasonable Doubt: A Tale of Two Kidnappings: Duda razonable: Historia de dos secuestros',
       'Narcos: Mexico: Season 2', 'Everything Will Be Fine: Season 1',
       'La bella y las bestias: Season 1', 'Somos.: Season 1',
       'Mr. Robot: Season 2', 'Undercover: Season 3',
       'Gomorrah: Season 5', 'Bonus Family: Season 4',
       'Undercover: Season 1', 'ZeroZeroZero: Season 1',
       'Misfit: The Series: Season 1', 'The Killing: Season 1',
       'Chicago Med: Season 3', 'Downton Abbey: Series 6',
       'Chicago Fire: Season 4', 'Chicago Fire: Season 3',
       'Clarence: Season 1', 'Regular Show: Season 6',
       "Old People's Home for 4 Year Olds: Season 1", 'Frayed: Season 1',
       'Below Deck Mediterranean: Season 1',
       'Below Deck Mediterranean: Season 2',
       'Castle and Castle: Season 1', 'Castle and Castle: Season 2',
       'It’s a Crazy World: Season 1', 'The Last Kingdom: Season 3',
       'Anxious People: Limited Series', 'Home for Christmas: Season 2',
       'Home for Christmas: Season 1',
       'The Unlikely Murderer: Limited Series',
       'Post Mortem: No One Dies in Skarnes: Season 1',
       'Black Money Love: Season 1', 'El Cartel: Season 1',
       'Dolce Amore: Season 1', 'Niña Niño: Season 1',
       'Irreplaceable: Season 1', 'New Beginnings: Season 1',
       'The Promise: Season 1', 'A Love to Last: Season 1',
       'He’s Into Her: Season 1', 'I Am U: Season 1',
       'My Husband-in-Law: Season 1', "The General's Daughter: Season 1",
       'Owe My Love: Season 1', 'The Law of Revenge: Season 1',
       'Bagman: Season 1', 'PAW Patrol: Season 1',
       'Bogdan Boner: Egzorcysta: Season 2', "The Mire: '97",
       'Suits: Season 1', 'Detective Anna: Season 1',
       'The Legend of the Blue Sea: Season 1', 'Supergirl: Season 5',
       'Yu Yu Hakusho: Ghost Files: Season 1', 'Takki: Season 3',
       'Takki: Season 2', 'The Innocent: Limited Series',
       'Love Island USA: Season 3', 'Riverdale: Season 4',
       'Love After Divorce: Season 2', 'My Mister: Season 1',
       'Men on a Mission 2021', 'Lost: Season 1',
       'The Raincoat Killer: Chasing a Predator in Korea: Season 1',
       'My Golden Kids 2021', 'The Way of the Househusband: Season 1',
       "Paik's Spirit: Season 1", 'Mr. Sunshine: Season 1',
       "The Gentlemen's League 2", 'Love After Divorce: Season 1',
       'Prison Playbook: Season 1', 'Monthly Magazine Home: Season 1',
       'Stranger: Season 1', 'Kingdom: Season 2',
       'The Iron Squad: Season 1', 'Mad for Each Other: Season 1',
       'Aquí no hay quien viva: Temporada 4',
       'Aquí no hay quien viva: Temporada 1',
       'The Time It Takes: Season 1', 'Insiders: Season 1',
       'El Barco: Season 1', 'Un Paso Adelante: Season 1',
       'Valeria: Season 1', 'StartUp: Season 1', 'Gold Leaf: Season 1',
       'Beauty Inside: Season 1', 'Be Together: Season 1',
       'Please Feel at Ease Mr. Ling: Season 1', 'Misty: Season 1',
       'Heaven on the 4th Floor: Season 1',
       'My ID is Gangnam Beauty: Season 1', 'Love is Science?: Season 1',
       'U Motherbaker: Season 1', 'Formosa 1867: Season 1',
       'Doctor John: Season 1', 'Once Again: Season 1',
       'Game of Outlaws: Season 1', 'Help me! Oh My Ghost: Season 1',

In [4]:
raw_data.loc[:,'week'] = raw_data.loc[:,'week'].apply(lambda a: dt.strptime(a, '%Y-%m-%d'))

In [5]:
raw_data['Week No'] = raw_data['week'].apply(lambda a: dt.strftime(a, '%W'))
raw_data.head()

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10,Week No
0,Argentina,AR,2022-01-09,Films,1,Don't Look Up,NaN,3,01
1,Argentina,AR,2022-01-09,Films,2,Mother/Android,NaN,1,01
2,Argentina,AR,2022-01-09,Films,3,The Lost Daughter,NaN,2,01
3,Argentina,AR,2022-01-09,Films,4,Backtrace,NaN,1,01
4,Argentina,AR,2022-01-09,Films,5,Four to Dinner,NaN,1,01

In [6]:
films = raw_data[raw_data['season_title'].isnull()]
films.head()

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10,Week No
0,Argentina,AR,2022-01-09,Films,1,Don't Look Up,NaN,3,01
1,Argentina,AR,2022-01-09,Films,2,Mother/Android,NaN,1,01
2,Argentina,AR,2022-01-09,Films,3,The Lost Daughter,NaN,2,01
3,Argentina,AR,2022-01-09,Films,4,Backtrace,NaN,1,01
4,Argentina,AR,2022-01-09,Films,5,Four to Dinner,NaN,1,01

In [7]:
series = raw_data.dropna()
series.head()

,country_name,country_iso2,week,category,weekly_rank,show_title,season_title,cumulative_weeks_in_top_10,Week No
10,Argentina,AR,2022-01-09,TV,1,Café con aroma de mujer,Café con aroma de mujer: Season 1,2,01
11,Argentina,AR,2022-01-09,TV,2,Cobra Kai,Cobra Kai: Season 4,2,01
12,Argentina,AR,2022-01-09,TV,3,The Queen of Flow,The Queen of Flow: Season 2,8,01
13,Argentina,AR,2022-01-09,TV,4,Stay Close,Stay Close: Limited Series,1,01
14,Argentina,AR,2022-01-09,TV,5,The Queen of Flow,The Queen of Flow: Season 1,10,01

In [18]:
gbc = pd.DataFrame(series[['country_name','show_title']].groupby('country_name','show_title').count())
gbc

ValueError: No axis named show_title for object type DataFrame